.clickstart{height: 20px; width: 170px;}
.clickstart li{float: left;display: block;width: 23px;height: 20px;background: url(../img/start2.png) no-repeat 0 -23px;background-size: 98%;}
.clickstart li.hasStart{background: url(../img/start2.png) no-repeat 0 0px;background-size: 100%;}
